@page
@model QuotesExchangeApp.Pages.ChartModel
@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        var dataJson = @Html.Raw(Model.Json);
        window.onload = function () {
            CanvasJS.addColorSet("YelowSet",
                [
                    "#f0b90b"
                ]);

            let chart = new CanvasJS.Chart("chartContainer", {
                colorSet: "YelowSet",
                theme: "light2",
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "График цен"
                },
                data: [{
                    type: "area",
                    dataPoints: []
                }]
            });


            let quotes = @Html.Raw(Model.Json);


            chart.options.data[0].dataPoints = quotes.map(function (quote) {
                return { x: new Date(quote.QuoteDate), y: quote.QuotePrice }
            })
            chart.render();

        }
    </script>
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-8 div-custom shadow">
            <h3>Акции @Model.Comp (@Model.Message)</h3>
            <div>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="FiveMin" value="5 минут" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Hour" value="1 час" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="FourHours" value="4 часа" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Day" value="1 день" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Week" value="1 неделя" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Month" value="1 месяц" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Year" value="1 год" />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a>
                            <form method="POST" class="form form-ticker">
                                <input type="submit" asp-page-handler="Max" value="Макс." />
                                <input type="hidden" name="comp" value="@Model.Message" />
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 div-custom shadow">
            <table class="table custom-table">
                <thead>
                    <tr><th>Тикер</th><th>Цена</th><th>Дата</th></tr>
                </thead>
                <tbody>
                    @foreach (var res in Model.Results)
                    {
                    <tr>
                        <td>
                            <form class="form-ticker-right" method="POST">
                                <input type="submit" value="@res.CompanyTicker" name="comp" />
                            </form>
                        </td>
                        @if (res.CompanyTicker == "GAZP" || res.CompanyTicker == "YNDX")
                        {
                            <td>@res.QuotePrice Руб</td>
                            <td>@res.QuoteDate</td>
                        }
                        else
                        {
                            <td>@res.QuotePrice $</td>
                            <td>@res.QuoteDate</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

        @*<table class="table">
                <thead>
                    <tr><th>Компании</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="Apple" name="comp" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="Tesla" name="comp" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="AMD" name="comp" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="Intel" name="comp" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="Amazon" name="comp" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST">
                                <input type="submit" value="Microsoft" name="comp" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>*@

    @*<form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Week" value="Неделя" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>*@
    
</body>
</html>