@page
@model QuotesExchangeApp.Pages.ChartModel
@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        var dataJson = @Html.Raw(Model.Json);
        window.onload = function () {

            let chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "График цен"
                },
                data: [{
                    type: "area",
                    dataPoints: []
                }]
            });


            let quotes = @Html.Raw(Model.Json);


            chart.options.data[0].dataPoints = quotes.map(function (quote) {
                return { x: new Date(quote.QuoteDate), y: quote.QuotePrice }
            })
            chart.render();

        }
    </script>
    <title>Index</title>
</head>
<body>
    <h3>Акции @Model.Message</h3>
    <div class="div1">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="div2">
        <table class="table">
            <thead>
                <tr><th>Компании</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Apple" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Tesla" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="AMD" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Intel" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Amazon" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Microsoft" name="comp" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Day" value="День" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Week" value="Неделя" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>
    <div class=".div21">
        <form method="POST" class=".list-form">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
    </div>








</body>
</html>