@page
@model QuotesExchangeApp.Pages.ChartModel
@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Index</title>
</head>
<body>
    <script type="text/javascript">
        window.onload = function () {
            CanvasJS.addColorSet("YelowSet",
                [
                    "#f0b90b"
                ]);

            let chart = new CanvasJS.Chart("chartContainer", {
                colorSet: "YelowSet",
                theme: "light2",
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "График цен"
                },
                data: [{
                    type: "area",
                    dataPoints: []
                }]
            });


            quotes = @Html.Raw(Model.Json);


            chart.options.data[0].dataPoints = quotes.map(function (quote) {
                return { x: new Date(quote.QuoteDate), y: quote.QuotePrice }
            })
            chart.render();

        }
    </script>
    <div class="row">
        <div class="col-sm-8 div-custom shadow">
            <h3>Акции @ChartModel.CurrentCompany?.Name (@ChartModel.CurrentCompany?.Ticker)</h3>
            <div>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <div class="col-xs-12">
                    @foreach (var span in Model.TimeSpans)
                    {
                        <div class="col-xs-3">
                            <a>
                                <form method="POST" class="form form-ticker">
                                    <input type="submit" asp-page-handler="Custom" value="@span.Key" />
                                    <input type="hidden" value="@span.Value" name="min" />
                                </form>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4 div-custom shadow">
            <table class="table custom-table">
                <thead>
                    <tr><th>Тикер</th><th>Цена</th><th>Дата</th></tr>
                </thead>
                <tbody>
                    @foreach (var res in Model.Results)
                    {
                        <tr>
                            <td>
                                <form class="form-ticker-right" method="POST">
                                    <input type="submit" asp-page-handler="Main" value="@res.CompanyTicker.ToString()" />
                                    <input type="hidden" value="@res.CompanyId.ToString()" name="idCompany" />
                                </form>
                            </td>
                            <td>@res.QuotePrice $</td>
                            <td>@res.QuoteDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*<table class="table">
            <thead>
                <tr><th>Компании</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Apple" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Tesla" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="AMD" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Intel" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Amazon" name="comp" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST">
                            <input type="submit" value="Microsoft" name="comp" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>*@

    @*<form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Week" value="Неделя" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>
        <form method="POST" class="form-inline">
            <input type="submit" asp-page-handler="Month" value="Месяц" />
            <input type="hidden" name="comp" value="@Model.Message" />
        </form>*@

</body>
</html>