@page "{handler?}"
@model QuotesExchangeApp.Pages.QuoteModel
@{
    ViewData["Title"] = "Список котировок";
}

<h2>@ViewData["Title"]</h2>
<div class="div-custom">
    <table class="table custom-table">
        <thead>
            <tr><th>Компания</th><th>Тикер</th><th>Цена</th><th>Дата</th></tr>
        </thead>
        <tbody>
            @foreach (var res in Model.Results)
            {
                <tr><td>@res.CompanyName</td><td>@res.CompanyTicker</td><td>@res.QuotePrice $</td><td>@res.QuoteDate</td></tr>
            }
        </tbody>
    </table>
</div>
